@model CreateProjectViewModel

<p>
    Name : @Model.Name
</p>
<p>
    Environment : @Model.Environment
</p>
<p>
    Time : @Model.Time
</p>
<p>
    Price : @Model.Price
</p>
<p>
    Info : @Model.Text
</p>
<p>
    Technology : @Model.Technology
</p>
<p>
    Phone : @Model.Phone
</p>
<p>
    Email : @Model.Email
</p>
<p>
    Telegram : @Model.IsTelegram
</p>
<p>
    Whatsapp : @Model.IsWhatsapp
</p>
<p>
    Email : @Model.IsEmail
</p>